/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.calculator {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(62, 11, 11, 0.2);
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing:content-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #ddd;
}

.operator {
    background-color: #d99000;
    color: #fff;
}

.operator:hover {
    background-color: #d99000;
}

.equal {
    background-color: #4CAF50;
    color: #fff;
    grid-column: span 2;
}

.equal:hover {
    background-color: #45a049;
}
